@import url(https://fonts.googleapis.com/css?family=Inter);
body {
    font-family: inter;
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3 {
    margin: 1rem 0;
    font-weight: bold;
  }
  
  h1 {
    font-size: 2.5rem;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  h3 {
    font-size: 1.5rem;
  }
  
  /* Navigation */
  nav {
    background-color: #eee;
    padding: 1rem 2rem;
  }
  
  nav a {
    color: #333;
    text-decoration: underline;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
  }
  
  nav a:hover {
    background-color: #ddd;
  }
  
  main {
    padding: 2rem;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  @media only screen and (max-width: 768px) {
    h1 { font-size: 2rem; }
    nav { text-align: center; }
  }
  