<!DOCTYPE html>
<html>
<head>
    <title>Contact</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Contact Details</h1>
    <p>Email: nikopurdie@gmail.com</p>
    <p>Phone: +64 22-135-0419</p>
    
    <h2>Social Media</h2>
    <ul>
        <li><a href="https://www.facebook.com/your-profile">Telegram</a></li>
        <li><a href="https://www.twitter.com/apr1ng1e">Twitter</a></li>
        <li><a href="https://www.instagram.com/niko_p101/">Instagram</a></li>
        <li><a href="https://www.instagram.com/your-profile">Slack</a></li>
        <li><span>Discord - apringle</span></li>

    </ul>
</body>
</html>