<!DOCTYPE html>
<html>
<head>
    <title>Contact</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <div style="display: flex;">
            <div style="flex: 1;">
                <h1>Here's my contact details!</h1>
            </div>
            <div style="flex: 1; text-align: right;">
                <nav>
                    <ul style="display: flex;">
                        <li style="margin-left: 10px;"><a href="current-projects">Current Projects</a></li>
                        <li style="margin-right: 10px;"><a href="/">Landing Page</a></li>
                        <li><a href="portfolio">Portfolio</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <h1>Contact Details</h1>
    <p>Email: nikopurdie@gmail.com</p>
    <p>Phone: +64 022 135 0419</p>
    
    <h2>Social Media</h2>
    <ul>
        <li><a href="https://www.telegram.com/">Telegram - @N1k0s9</a></li>
        <li><a href="https://www.twitter.com/apr1ng1e">Twitter - @apr1ng1e</a></li>
        <li><a href="https://www.instagram.com/niko_p101/">Instagram - @niko_p101</a></li>
        <li><a href="https://hackclub.slack.com/team/U07960MD940">Slack - @apringle</a></li>
        <li><a href="https://discord.com">discord - @apringle</a></li>
    </ul>

    <footer>
        <p>&copy; 2024 Niko Purdie</p>
    </footer>
    <link rel="stylesheet" href="/static/styles.css">
</body>
</html>