<!DOCTYPE html>
<html>
<head>
    <title>My Portfolio</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <div style="display: flex;">
            <div style="flex: 1;">
                <h1>Welcome to My Portfolio</h1>
            </div>
            <div style="flex: 1; text-align: right;">
                <nav>
                    <ul style="display: flex; flex-wrap: nowrap;">
                        <li style="margin-left: 10px; white-space: nowrap;"><a href="/">Landing Page</a></li>
                        <li style="white-space: nowrap;"><a href="portfolio">Portfolio</a></li>
                        <li style="margin-right: 10px; white-space: nowrap;"><a href="current+projects">Current Projects</a></li>
                        <li style="margin-right: 20px; white-space: nowrap;"><a href="contact">Contact Me</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <section id="Coding Accounts">
        <h2>Portfolio</h2>
        <div class="portfolio-items">
            <div class="portfolio-item">
                <li><a href="https://github.com/N1k0s1">GitHub</a></li>
            </div>
            <li><a href="https://scrapbook.hackclub.com/NikoPurdie">ScrapBook</a></li>
        </div>
    </section>
    <section id="Projects">
        <h2>Projects</h2>
        <div class="current-project-items">
            <div class="personal-website">
                <img src="/static/personalwebsite.png" alt="Personal Website Image">
                <h3>Personal Website</h3>
                <p>This project refers to this website started on the 20th of June 2024, which currently is a work in progress. There are many things for me to do, and this will most likely stay for a couple of months while I improve the website at it's core.</p>
                <a href="https://github.com/N1k0s1/personalwebsite">Learn More</a>
            </div>
            <div class="Discord Bot">
                <img src="discordbot.jpg" alt="Hasn't been started yet, still in talks with the client about features etc.">
                <h3>Custom Discord Bot</h3>
                <p>Building a discord bot for a local New Zealand based company, to enhance the experience for their students with featues such as autorole when joining, assigning the correct cohort, moderation features, tickets and more!</p>
                <a href="discordbot.html">Hasn't been started yet, still in talks with the client about features etc.</a>
            </div>
        </div>
    </section>

    <footer class="copyright">
        © Niko Purdie
      </footer>
    <link rel="stylesheet" href="/static/styles.css">
</body>
</html>
