<!DOCTYPE html>
<html>
<head>
    <title>My Portfolio</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <div style="display: flex;">
            <div style="flex: 1;">
                <h1>Welcome to my website!</h1>
            </div>
            <div style="flex: 1; text-align: right;">
                <nav>
                    <ul style="display: flex; flex-wrap: nowrap;">
                        <li style="margin-left: 10px; white-space: nowrap;"><a href="/">Landing Page</a></li>
                        <li style="white-space: nowrap;"><a href="portfolio">Portfolio</a></li>
                        <li style="margin-right: 10px; white-space: nowrap;"><a href="current+projects">Current Projects</a></li>
                        <li style="margin-right: 20px; white-space: nowrap;"><a href="contact">Contact Me</a></li>
                    </ul>
                </nav>
            </div>
    </header>

    <section id="about">
    <h1>About Me</h1>
    <p>Welcome to my personal website! Here's a little bit about me:</p>
    
    <h2>Background</h2>
    <ul>
        <li>Name: Niko Purdie</li>
        <li>Age: 15</li>
        <li>Location: Auckland, New Zealand</li>
        <li>School: Sacred Heart College</li>
        <li>Year: 11</li>
        <li>I'm passionate about technology, sailing and the great outdoors in general!</li>
    </ul>


    <h2>Skills</h2>
    <ul>
        <li>HTML (Still learning!)</li>
        <li>CSS (Still learning!)</li>
        <li>JavaScript (Not that much haha)</li>
        <li>Python</li>
        <li>C++ (Still learning!)</li>
    </ul>
    
    <h2>Interests</h2>
    <ul>
        <li>Web development</li>
        <li>Data science</li>
        <li>Artificial intelligence</li>
        <li>Sailing - I sail a Starling</li>
    </ul>
    
    <h2>Current Projects</h2>
    <p>Here are some of the projects I'm currently working on:</p>
    <ul>
        <li>Building a personal website</li>
        <li>Building a discord bot for a local New Zealand based company, to enhance the experience for their students with featues such as autorole when joining, assigning the correct cohort, moderation features, tickets and more!</li>
        <li>Developing and making code for our VEX Robotics team (11044B)</li>
    </ul>




    <div class="copyright">
        © Niko Purdie
      </div>
    <link rel="stylesheet" href="/static/styles.css">
</body>
</html>