<section id="portfolio">
    <h2>Portfolio</h2>
    <div class="portfolio-items">
        <div class="portfolio-item">
            <img src="static/github/project.jpg" alt="GitHub Project">
            <h3>GitHub</h3>
            <p>Description of my GitHub projects</p>
        </div>
        <div class="portfolio-item">
            <img src="static/scrapbook/project.jpg" alt="Scrapbook">
            <h3>Scrapbook</h3>
            <p>Description of my Scrapbook projects</p>
        </div>
    </div>
</section>
