<section id="portfolio"></section>
    <div class="portfolio-items">
        <div class="portfolio-item"></div>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <div style="display: flex;">
            <div style="flex: 1;">
                <h1>Welcome to My Portfolio</h1>
            </div>
            <div style="flex: 1; text-align: right;">
                <nav>
                    <ul style="display: flex;">
                        <li style="margin-left: 10px;"><a href="current-projects/">Current Projects</a></li>
                        <li style="margin-right: 10px;"><a href="/">Landing Page</a></li>
                        <li><a href="contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <section id="portfolio">
        <h2>Portfolio</h2>
        <div class="portfolio-items">
            <div class="portfolio-item">
                <li><a href="https://github.com/N1k0s1">GitHub</a></li>

            </div>
            <li><a href="https://scrapbook.hackclub.com/NikoPurdie">ScrapBook</a></li>
        </div>
    </section>

    <footer>
        <p>&copy; 2024 Niko Purdie</p>
    </footer>
    <link rel="stylesheet" href="/static/styles.css">
</body>
</html>
